/* Box sizing - count padding and borders as part of widths
   read more: https: //css-tricks.com/box-sizing
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: 'DM Sans';
  box-sizing: inherit;
}