/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body {
  background-color: #ddd;
  color: #333;
  font-family: 'Dm Sans';
  margin: 0;
  line-height: 140%;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces';
  margin-bottom: 0.5em;
  line-height: 100%;
}

.logo {
  font-family: 'Delius';
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

p {
  margin-top: 0;
}

li {
  margin-bottom: 0.5em;
}