footer {
  background-color: rgb(61, 2, 2);
  padding: 40px 80px;
  color: white;

  /* child elements (in this sections)
     to the footer should be displayed
     side by side with equal spacing between them */
  display: flex;
  justify-content: space-between;

  section {
    p {
      margin: 0;

      &.space-before {
        margin-top: 10px;
      }
    }

    a {
      color: #fff;
    }
  }
}

/* Sticky footer logic */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}