/* compensate for header fixed (hiding parts of main)
   by adding padding-top to main
*/
main {
  padding-top: 106px;

  @media (max-width: 575px) {
    padding-top: 68px;
  }
}


header {

  position: fixed;
  /* width 100% is default for position:static but not for other position values */
  width: 100%;

  background-color: var(--header-footer-background);
  padding: 20px;

  /* don't let the header disappear on scroll
     let it be fixed */

  nav {

    /* float fix make a elements in nav
       that have float still take up space */
    display: flow-root;

    a {
      text-decoration: none;
      color: rgb(209, 209, 209);
      display: block;
      float: left;
      padding: 0 20px;

      /* if I am the first element in the nav (the first child) */
      &:first-child {
        padding-left: 0
      }

      /* if I am the last element in the nav (the last child) */
      &:last-child {
        padding-right: 0
      }

      /* if the user hovers with their mouse pointer over me */
      &:hover {
        color: white;
      }

    }

  }

}