header {
  background-color: rgb(61, 2, 2);
  padding: 20px;
  position: relative;

  nav {

    /* float fix make a elements in nav
       that have float still take up space */
    display: flow-root;

    a {
      text-decoration: none;
      color: rgb(209, 209, 209);
      display: block;
      float: left;
      padding: 0 20px;

      /* if I am the first element in the nav (the first child) */
      &:first-child {
        padding-left: 0
      }

      /* if I am the last element in the nav (the last child) */
      &:last-child {
        padding-right: 0
      }

      /* if the user hovers with their mouse pointer over me */
      &:hover {
        color: white;
      }

    }

  }

}