/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body {
  background-color: #ddd;
  color: #333;
  font-family: 'Dm Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces';
}

.logo {
  font-family: 'Delius';
  font-size: 24px;
  margin-bottom: 20px;
}

/* "Router": Which article in main to show depending on hash */
main article {

  /* Scroll to top instead of article */
  scroll-margin-top: 200px;

  display: none;

  /* Show first page by default OR the targeted page */
  &:first-of-type:not(:has(~ :target)),
  &:target {
    display: block;
  }
}